# Web Framework
flask
flask-cors
python-dotenv

# Machine Learning & Inference
tensorflow
pandas
numpy
scikit-learn
joblib

# Database Interaction
sqlalchemy
psycopg2-binary

# Add this to the existing list
gunicorn==23.0.0